/* Общие стили */

/* header,*/

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 80px;
    font-weight: 300;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}


h3 {
    color: #000000;
    font-size: 35px;
    font-weight: 700;
}



.block01 {
    background-image: url(../images/background.png);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 53px;
    padding-bottom: 366px;
    margin-bottom: 84px;
    overflow: hidden;
    height: 50vh;
    position: relative;
}

.block01:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 13vh solid transparent;
    border-right: 200vh solid #fff;
    border-bottom: 0px solid #fff;
    bottom: 0vh;
    position: absolute;
}

.block01__container{
    width: 1030px;
    margin: auto;
}

.block01__logo {
    display: inline-block;
    width: 190px;
}

.block01__nav {
    display: inline-block;
    line-height: 45px;
    margin-left: 220px;
}

.block01__nav-item{
    display: inline-block;
    margin-left: 30px;
}

.block01__nav-link{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.block01__descriptors-top{
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 80px;
    margin-top: 170px;
}

.block01__descriptors-bottom{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
}


/* /header*/

/*features, welcome*/

.block02__container{
    width:1030px;
    margin: 0 auto;
    position: relative; /* задаем ориентир для блоков со свойством absolute*/
}

.block02__welcome{
    width: 515px;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;   /*при задании свойства блок выпадает из потока и ищет "родителя" со свойством relative*/
    top: -240px;
    right: 0;
    z-index: 1;   /*задаем приоритет отображения элемента по оси в сторону наблюдающего*/
}

.block02__text{
    font-size: 14px;
    font-weight: 200;
    color: black;
    line-height: 1.2;
    margin-top: 20px;
}

.block02__text0{
    color:black;
}

.block02_row{
    overflow: hidden;
}

.block02__col1{
    float: left;
    width: 33.33%;
}

/*float - элементы выпадают из потока,
чтобы это исправить применяется overflow: hidden;*/

.block02__text1{
    margin-bottom: 22px;
    font-weight: 900;
    text-align: center;
}

.block02__text2{
    font-size: 14px;
    font-weight: 200;
    color: black;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center;
}

.block02__image-wrap{
    height: 211px;
    position: relative;
    margin-bottom: 40px;
}

.block02__image-wrap img{
position: absolute;
left:0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
}

/* /features, welcome*/

input[type="button"]:hover, 
button:active { 
    border:none; 
} 
.button { 
    display: inline-block; 
    padding: 16px 30px; 
    font-size: 18px; 
    color: #fff; 
    background-color: rgb(144, 210, 61); 
    border-radius: 15px; 
}

/* /Общие стили */


/* Оформление таблицы */

.movie-list{
    padding: 100px 0;
}

.movie-list__header{
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 75px;
    text-align: center;
}

.container{
    max-width: 1030px;
    margin: auto;
}

.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
}

.movie-list__table a{
text-decoration: none;
color: #fff;
}

.movie-list__table th{
    font-size: 30px;
    font-weight: 700;
    background: #a3cc40;
    padding: 20px 10px;
    text-align: center;
}

.movie-list__table td{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    padding: 20px 10px;
}

th, td:nth-of-type(1){
    width: 270px;
    max-width: 270px;
    text-align: center;
    word-spacing: 1px;
}

th, td:nth-of-type(2){
    width: 315px;
    max-width: 315px;
    text-align: left;
    word-spacing: 1px;
}

th, td:nth-of-type(3){
    width: 315px;
    max-width: 315px;
    text-align: left;
    word-spacing: 1px;
}

th, td:nth-of-type(4){
    width: 130px;
    max-width: 130px;
    text-align: center;
    word-spacing: 1px;
}

tbody tr:nth-of-type(1n){
    background: #373737;
}

tbody tr:nth-of-type(2n){
    background: #4b4d4f;
}

tbody tr:nth-of-type(3n){
    background: #6c6c6c;
}

.triangle-up {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-bottom: 10px solid white;
}

.triangle-down {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid white;
}

/* /Оформление таблицы */

/* block03, gift */

.block03{
    background-color: #000000;
    background: url(../images/background_2.png) no-repeat top center / cover;   
    background-size: 100%; 
    height: 750px;
}

.block03__container{
    max-width: 1030px;
    margin: auto;
    position: relative;
}

.block03__img{
    border-radius: 50%;
    background-color: rgb(251, 175, 22);
    box-shadow: 10.5px 18.187px 12px 0px rgba(35, 31, 32, 0.55);
    position: absolute;
    width: 330px;
    height: 330px;
    z-index: 1;
}

.block03__description{
    padding-top: 100px;
    position: absolute;
    width: 650px;
    right: 0px;
    text-align: right;
}

.block03__item{
    font-size: 14px;
    font-weight: 200;
    color:#fff;
    line-height: 1.2;
    margin-top: 50px;
}

input[type="button"]:hover, 
button:active { 
    border:none; 
} 
.button { 
    display: inline-block; 
    padding: 16px 30px; 
    font-size: 18px; 
    color: #fff; 
    background-color: rgb(144, 210, 61); 
    border-radius: 15px; 
}

.block03_button{
    padding-top: 30px;
}

/* /block03, gift */

/* block04 - movie-gread */

.block04__container{
    max-width: 1030px;
    margin: auto;
    padding: 0 18px;
}

.block04__flex{
    display: flex;
    margin: 0, -18px;
}

.block04__item{
    padding: 18px;
}

/* /block04 - movie-gread */